<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1 style="text-align:center">Registration Form</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Your Username"><br>
    <input type="text" name="first_name" placeholder="Enter Your First Name"><br>
    <input type="text" name="last_name" placeholder="Enter Your Last Name"><br>
    <input type="email" name="email" placeholder="Enter your Email ID"><br>
    <input type="password" name="password" placeholder="Enter Your Password"><br>
    <input type="password" name="password1" placeholder="Enter Confirm Password"><br>
    <input type="submit">


</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>